:root {
	--color-blue: #091222;
}

body {
	min-height: 100vh;

	font-family: "Lato";

	margin: 0;

	background-color: #f5f5f5;

	@media print {
		background-color: #fff;
	}
}

a {
	color: var(--color-blue);
}
